:root {/* fonts */
/* fonts */
--heading-font-family: Figtree, Arial, Helvetica;
--body-font-family: Figtree, Arial, Helvetica;
--fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;

/* colors */
--text-color: #000514;
--link-color: #000514;
--background-color: #ffffff;
--overlay-background-color: #eeeeee;
--highlight-background-color: #cccccc;

/* sizes */
--heading-font-size-xxl: 54px;
--heading-font-size-xl: 44px;
--heading-font-size-l: 36px;
--heading-font-size-m: 25px;
--heading-font-size-s: 21px;
--heading-font-size-xs: 17px;
--body-font-size-xxl: 22px;
--body-font-size-xl: 18px;
--body-font-size-l: 16px;
--body-font-size-m: 14px;


}