:root {/* fonts */
--heading-font-family: robotoregular, Arial, Helvetica, sans-serif;
--body-font-family: robotoregular, Arial, Helvetica, sans-serif;
--fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;

/* colors */
--text-color: #202020;
--link-color: #0085d5;
--link-hover-color: Invalid input color;
--background-color: #ffffff;
--overlay-background-color: #eeeeee;
--highlight-background-color: #cccccc;

/* sizes */
--heading-font-size-xxl: 37px;
--heading-font-size-xl: 35px;
--heading-font-size-l: 27px;
--heading-font-size-m: 21px;
--heading-font-size-s: 14px;
--heading-font-size-xs: 12px;
--body-font-size-xxl: 13px;
--body-font-size-xl: 12px;
--body-font-size-l: 11.9px;
--body-font-size-m: 0px;
}